// COLORS
$color-primary: #031e87;
$color-primary-light: #4d46b8;
$color-primary-dark: #000059;

$color-secundary: #0075be;
$color-secondary-light: #58a3f1;
$color-secondary-dark: #004a8d;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey: #9e9e9e;
$color-grey-light-a: #fafafa;
$color-grey-light-b: #e0e0e0;
$color-grey-dark-a: #757575;
$color-grey-dark-b: #424242;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;