// SOCIAL
// 
.actionsPanel-social {
    padding: 0.5rem 3rem;
    background-color: $color-secondary;

    &__container {
        @include font-size(23px);
        color: $white;
        padding: 0.9rem;
        height: 40px;
        width: 40px;
        position: relative;
    }

    &__element {
        @include center(both);
    }
}

// Agrega el ícono de denuncia ya
i.denuncia-ya {
    background-image: url('../../img/actionsPanel-den36.png');
    background-size: cover;
    position: absolute;
    top: 20px;
    height: 100%;
    width: 100%;
}

i.fa-youtube {
    // color: #FF0000;
}

i.fa-facebook {
    // color: #4267B2;
}

i.fa-twitter {
    // color: #1B95E0;
}

////////////////////////////////////
// ACTIONS /////////////////////////
////////////////////////////////////
.actionsPanel-actions {
    @include font-size(16px);

    &__item {
        background-color: #4267B2;
    }

    &__item-f {
        background-color: #4267B2;
        border-bottom: none;
    }

    &__icon {
        color: $color-primary;
        width: 40px;
        height: 40px;
        float: left;
        margin-left: 1.5rem;
        padding-top: 1.8%;
        text-align: center;
    }

    &__icon-s {
        color: $color-primary;
        width: 40px;
        height: 40px;
        float: left;
        margin-left: 1.5rem;
        padding-top: 5%;
        text-align: center;
    }

}

.actionsPanel-actions span {
    color: $white;
    display: inline-block;
    padding: 1.6% 0.5rem;

    @include font-size(14px);
}

.actionsPanel-actions .l-t {
    width: 48%;
}

//////////////////////////////////
// Buscar ////////////////////////
//////////////////////////////////
.search-query:focus+button {
    z-index: 3;
}

#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    margin-bottom: 0;

    color: $color-secondary-light;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;

    margin-bottom: 0;

}

.input-group-btn {
    position: relative;
    position: relative;
    bottom: 38px;
    float: right;
}

.form-control,
.btn {
    border-radius: 0;
}
.buscar .btn {
    background-color: $color-primary-light;
    color: $white;
}

//////////////////////////////////
// MEDIA QUERIES /////////////////
//////////////////////////////////
// XS
@include media-breakpoint-down(xs) {
    // Actions Panel Social
    .actionsPanel-social {
        &__container {
            position: static;
        }
    }
    i.denuncia-ya {
        height: 90%;
        width: 38%;
    }
    // Actions Panel Actions
    .actionsPanel-actions {
        &__icon {
            @include font-size(30px);
            margin-left: 2.5rem;
            padding-top: 0.8%;
            margin-right: 1rem;
        }
        &__icon-s {     
            @include font-size(30px); 
            height: 45px;
            margin-left: 2.5rem;
            margin-right: 1rem;
            padding-top: 4.8%;
        }
        &__item {
            padding: 0.5rem 7%;
            border-bottom: 1px solid $white;
        }
        &__item-f {
            background-color: #4267B2;
            padding: 0.5rem 7%;
            border-bottom: none;
        }
        & span {
            @include font-size(20px);
        }
    }
    .actionsPanel-actions .l-t {
        width: 38%;
    }
    // Buscar
    .buscar {
        margin-top: 15px;
        height: 55px;
    }
    .main-navbar {
        background-color: $color-secondary-light;
    }
    .input-group-btn {
        bottom: 47px;
    }
}
// MD
@include media-breakpoint-up(md) {
    // Actions Panel Social
    .actionsPanel-social {
        &__container {
            position: static;
        }
    }
    i.denuncia-ya {
        height: 80%;
        width: 24%;
    }

    // Actions Panel Actions
    .actionsPanel-actions {
        &__icon {
            @include font-size(25px);
            margin-left: 2.5rem;
            padding-top: 0;
            margin-right: 1rem;
        }
        &__icon-s {     
            @include font-size(25px); 
            height: 45px;
            margin-left: 2.5rem;
            margin-right: 1rem;
            padding-top: 0;
        }
        &__item {
            padding: 0.3rem 0%;
            height: 60px;
            border-bottom: 1px solid $white;
        }
        &__item-f {
            background-color: #4267B2;
            padding: 0.5rem 7%;
            border-bottom: none;
        }
        & span {
            @include font-size(15px);
        }
    }
    .actionsPanel-actions .l-t {
        width: 100%;
    }
}

@include media-breakpoint-down(md) { 
    // Actions Panel Actions
    .actionsPanel-actions {
        &__icon {
            @include font-size(25px);
            margin-left: 2.5rem;
            padding-top: 0;
            margin-right: 1rem;
        }
        &__icon-s {     
            @include font-size(25px); 
            height: 45px;
            margin-left: 2.5rem;
            margin-right: 1rem;
            padding-top: 0;
        }
        &__item {
            padding: 0.3rem 0%;
            height: 60px;
            border-bottom: 1px solid $white;
        }
        &__item-f {
            background-color: #4267B2;
            padding: 0.5rem 10%;
            border-bottom: none;
        }
        & span {
            @include font-size(15px);
        }
    }
    .actionsPanel-actions .l-t {
        width: 70%;
    }
}


//////////////////////////////////
// MEDIDAS ESPECIALES ////////////
//////////////////////////////////

// 320px
@media (max-width: 320px) {

    .actionsPanel-social {
        &__container {
            position: static;
        }
    }

    i.denuncia-ya {
        height: 80%;
        width: 77%;
    }

    .actionsPanel-actions {
        &__icon {
            @include font-size(20px);
            margin-left: 1.5rem;
            padding-top: 0.8%;
            margin-right: 1rem;
        }
        &__icon-s {     
            @include font-size(20px); 
            height: 45px;
            margin-left: 1.5rem;
            margin-right: 1rem;
            padding-top: 1.8%;
        }
        &__item {
            padding: 0.5rem 0%;
            border-bottom: 1px solid $white;
        }
        &__item-f {
            background-color: #4267B2;
            padding: 0.5rem 0;
            border-bottom: none;
        }
        & span {
            @include font-size(14px);
        }
    }

    .actionsPanel-actions .l-t {
        width: 68%;
    }

    .input-group-btn {
        bottom: 47px;
    }

    .buscar {
        margin-top: 0;
        margin-bottom: 20px;
        height: 55px;
    }
}