// Calendario
.calendario {
    color: $color-primary-dark;
    margin-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid $color-secondary-light;

    &__titulo {
        @include font-size(23px);

        padding-bottom: 10px;
    }

    &__ver {
        color: $white;
        display: block;
        text-align: center;
        padding-bottom: 5px;
        background-color: $color-secondary-dark;
    }
}

.fecha {
    
    &__dia {
        @include font-size(15px);
        
        float: left;
        height: 50px;
        width: 50px;
        padding-top: 5px;
        margin-right: 0.5rem;
        text-align: center;
        line-height: 20px;
        color: $white;
        background-color: $color-primary;
    }
    
    &__texto p {
        @include font-size(11px);

        color: $color-secondary;
        height: 50px;
        overflow: auto;
    }
}