.head { 
    height: 100%;

    &--bg-blue {
        background-color: $color-secondary;
    }
}

.head__logo-hacienda {
    width: 90%;
}

.head__logo-gobierno {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

//////////////////////////////////
// MEDIA QUERIES /////////////////
//////////////////////////////////

// Media Queries XS
@include media-breakpoint-down(xs) {
    .head__logo-hacienda {
        width: 100%;
        position: absolute;
        bottom: 30px;
        left: 0;
    }
    .head__logo-gobierno {
        width: 100%;
    }
}

// Media Queries MD
@include media-breakpoint-down(md) {
    .head__logo-hacienda {
        width: 90%;
        position: absolute;
        bottom: 0;
    }

    .head__logo-gobierno {
        width: 60%;
        margin-left: 20%;
    }
}
