// Secondary Navbar
.secondary-navbar {
    border: 1px solid $color-primary-dark;
}

.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

.panel a { 
    @include font-size(14px);
    color: $gray-600;
    display: block;
    padding-top: 11px;
    line-height: 1.5;
}

.panel td a {
    padding-top: 0;
}

.panel {
    border-bottom: 1px solid $color-secondary-dark;
}

.fa-size {
    @include font-size(11px);
    margin-left: 5px;
}