body {
    font-family: $font-primary !important;
}

h1,
h3,
h5,
h6 {
    font-family: $font-secondary;
}

h2, h4 {
    font-family: $font-secondary;
    font-weight: 900;
}

a {
    color: $color-secondary;
}