footer {
    background-color: $color-primary;
    color: $white;

    & .info-mobile a {
        // widows: 100%;
        display: block;
        color: $white;
        // border-bottom: 1px solid $color-secondary-light;
        // float: right;
        text-align: right;
    }

    & .info-mobile p {
        @include font-size(12px);
        text-align: right;
        color: $gray-500;
    }
}

#contacto {
    @include font-size(13px);
}